@use '../../assets/global-styles/variables';

.musiteca-logo {
   max-width: 15rem;
   width: 100%;
   margin-bottom: 2rem;
 }

.container {
  padding: 2rem 1rem;
  display: flex;

  .container-row {
    flex-grow: 1;
  }

  .error-msg {
    margin-bottom: .5rem;
  }

  p:last-of-type {
    margin-bottom: 2rem;
  }

  figure {
    height: fit-content;
  }

  .error-image {
     max-width: 100%;
     display: block;
   }
}
