@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/spacing-var';

.musiteca-logo {
   max-width: 15rem;
   width: 100%;
   margin-bottom: spacing-var.$space-lg;
 }

.container {
  padding: spacing-var.$space-lg spacing-var.$space-rg;
  display: flex;

  .container-row {
    flex-grow: 1;
  }

  .error-msg {
    margin-bottom: spacing-var.$space-sm;
  }

  p:last-of-type {
    margin-bottom: spacing-var.$space-lg;
  }

  figure {
    height: fit-content;
  }

  .error-image {
     max-width: 100%;
     display: block;
   }
}
