$ivory: #F9FAED;
$green: #E2EE00;
$purple: #4930AA;
$darkpurple: #120C2A;
$midpurple: darken($purple, 20%);
$lightpurple: lighten($purple, 20%);
$error: #C9657F;

$darkpurple70: transparentize($darkpurple, 0.3);
$darkpurple25: transparentize($darkpurple, 0.75);
$ivory70: transparentize($ivory, 0.3);