$ivory: #F9FAED;
$green: #E2EE00;
$purple: #4930AA;
$darkpurple: #120C2A;
$midpurple: #2E1E6A;
$error: #C9657F;

$darkpurple70: transparentize($darkpurple, 0.3);
$ivory70: transparentize($ivory, 0.3);