$text-font: "Public Sans", sans-serif, system-ui;
$headings-font: "Quicksand", sans-serif, system-ui;

$text-regular: 1rem;
$text-small: .8rem;
$text-big: 1.2rem;

$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1.25rem;
$h4-size: 1.25rem;

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;