@use 'color-var';
@use 'text-var';
@use 'spacing-var';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: text-var.$text-font;
  font-size: 16px;
  font-weight: text-var.$weight-regular;
  font-style: normal;
  color: color-var.$darkpurple;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: text-var.$headings-font;
  line-height: 110%;
  text-wrap: pretty;
}

h1 {
  font-size: text-var.$h1-size;
  margin-bottom: spacing-var.$space-rg;
}

h2 {
  font-size: text-var.$h2-size;
  margin-bottom: spacing-var.$space-lg;
}

h3 {
  font-size: text-var.$h3-size;
  margin-bottom: spacing-var.$space-md;
}

h4 {
  font-size: text-var.$h4-size;
  margin-bottom: spacing-var.$space-md;
  font-weight: text-var.$weight-regular;
}

p {
  margin-bottom: spacing-var.$space-rg;
}

.btn {
  border: 2px solid color-var.$darkpurple;
  text-decoration: none;
  min-width: 48px;
}

.btn-light {
  border: 2px solid color-var.$ivory;
  color: color-var.$ivory;
  text-decoration: none;
}

.btn-invisible {
  border: none;
}

.btn-link {
  border: none;
  text-decoration: underline;
}

.btn-small {
  padding: 0;
  font-size: text-var.$text-small;
  height: fit-content;
}

.ant-modal-content.modal-content {
  border: 2px solid color-var.$darkpurple;
}

.ant-form-item-explain .ant-form-item-explain-error {
  font-size: text-var.$text-small;
  margin-top: spacing-var.$space-xs;
  color: lighten(color-var.$error, 5%);
}

.input {
  border-width: 2px;
}