@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/text-var';
@use '../../assets/global-styles/spacing-var';

.main-container {
  padding: spacing-var.$space-lg spacing-var.$space-rg;
  max-height: calc(100dvh - 88px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.post-container {
  container: card-container / inline-size;
}

.greeting {
  font-family: text-var.$headings-font;
  font-size: text-var.$h2-size;
  font-weight: text-var.$weight-bold;
  line-height: 110%;
}

.feed-post {
  margin-top: spacing-var.$space-xl;
}

.spinner {
  display: block;
  margin: spacing-var.$space-sm auto;
}

@media only screen and (min-width: 768px){
  .main-container {
    padding: spacing-var.$space-lg;
    max-height: 100dvh;
  }
}