@use '../../assets/styles/variables';

.musiteca-logo {
  max-width: 17.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.container {
  color: variables.$ivory;
  padding: 2rem 1rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-items: center;
}

.login-container {
  background-color: variables.$midpurple;
  border: 2px solid variables.$darkpurple;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1.25rem;

  form {
    width: 100%;
  }
}

.input-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  gap: .5rem;

  input {
    border: 2px solid variables.$darkpurple;
    border-radius: 8px;
    min-height: 2.5rem;
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 5rem 12.5rem;
  }

  .login-container {
    padding: 2.5rem;
  }
}