@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/spacing-var';

aside:has(.recent-researches) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recent-researches {
  padding: spacing-var.$space-lg spacing-var.$space-rg;
  margin-bottom: auto;

  ul {
    list-style: none;
  }

   li button {
     color: color-var.$darkpurple70;
   }
}