@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/spacing-var';

aside:has(.aside-description) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-description {
  padding: spacing-var.$space-lg spacing-var.$space-rg;
  margin-bottom: auto;

  p {
    color: color-var.$darkpurple70;
  }
}