@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/text-var';
@use '../../assets/global-styles/spacing-var';

.card {
  border: 2px solid color-var.$darkpurple;
  margin-bottom: spacing-var.$space-rg;
  overflow: hidden;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
}

.instrument-image {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top: 2px solid color-var.$darkpurple;
}

@container card-container (min-width: 540px) {
  .card {
    grid-template-columns: 3fr 2fr;
  }

  .instrument-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    aspect-ratio: unset;
    border-left: 2px solid color-var.$darkpurple;
    border-top: none;
  }
}

.post-content {
  padding: spacing-var.$space-rg;

  ul {
    font-size: text-var.$text-small;
    color: color-var.$darkpurple70;
    list-style: none;
    margin-top: spacing-var.$space-sm;
  }
}

.post-details {
  gap: spacing-var.$space-rg;
  margin-bottom: spacing-var.$space-rg;

  .post-author {
    font-weight: text-var.$weight-semibold;
    margin-bottom: spacing-var.$space-xs;

    & ~ div {
      font-size: text-var.$text-small;
    }
  }
}

.post-actions {
  margin-top: spacing-var.$space-md;

  .main-action {
    flex-grow: 1;
  }
}