@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/text-var';
@use '../../assets/global-styles/spacing-var';

.card {
  border: 2px solid color-var.$darkpurple;
  margin-bottom: spacing-var.$space-rg;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.ant-image:has(.instrument-image) {
  border-top: 2px solid color-var.$darkpurple;

  .instrument-image {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post-content {
  padding: spacing-var.$space-rg;

  ul {
    font-size: text-var.$text-small;
    color: color-var.$darkpurple70;
    list-style: none;
    margin-top: spacing-var.$space-sm;
  }
}

.post-details {
  gap: spacing-var.$space-rg;
  margin-bottom: spacing-var.$space-rg;

  .post-author {
    font-weight: text-var.$weight-semibold;
    margin-bottom: spacing-var.$space-xs;

    & ~ div {
      font-size: text-var.$text-small;
    }
  }
}

.post-actions {
  margin-top: spacing-var.$space-md;
}

button.borrowed-btn {
  background-color: color-var.$lightpurple;
  color: color-var.$darkpurple;
}

@container card-container (min-width: 580px) {
  .card {
    flex-direction: row;
    height: 400px;
  }

  .ant-image:has(.instrument-image) {
    flex: 2 1 40%;
    border-left: 2px solid color-var.$darkpurple;
    border-top: none;

    .instrument-image {
      aspect-ratio: unset;
    }
  }

  .post-content {
    flex: 3 1 60%;
  }
}