@use '../../assets/styles/variables';

.footer {
  border-top: 1.5px solid variables.$darkpurple;
  padding: 2rem 1rem;
  color: variables.$darkpurple70;
  background: none;

  small {
    text-align: center;
  }
}

.footer-light {
  color: variables.$ivory70;
  border-top-color: variables.$ivory;
}

.social-links a {
  color: inherit;
}