@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/text-var';
@use '../../assets/global-styles/spacing-var';

.footer {
  border-top: 1.5px solid color-var.$darkpurple;
  padding: spacing-var.$space-lg spacing-var.$space-rg;
  color: color-var.$darkpurple70;
  background: none;

  p {
    font-size: text-var.$text-small;
    text-align: center;
  }
}

.footer-light {
  color: color-var.$ivory70;
  border-top-color: color-var.$ivory;
}

.social-links a {
  color: inherit;
}