@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/text-var';
@use '../../assets/global-styles/spacing-var';

.upload-preview .ant-upload-list-item {
  a {
    color: color-var.$green;
  }

  button {
    border: none;
  }
}

.ant-input-data-count {
  font-size: text-var.$text-small;
}