@use '../../assets/global-styles/color-var';
@use '../../assets/global-styles/spacing-var';

.musiteca-logo {
  max-width: 15rem;
  width: 100%;
  margin-bottom: spacing-var.$space-lg;
}

.container {
  padding: spacing-var.$space-lg spacing-var.$space-rg;
}

.error-msg {
  margin-bottom: spacing-var.$space-rg;
}

.login-container {
  background-color: color-var.$midpurple;
  border: 2px solid color-var.$darkpurple;
  border-radius: 8px;
  padding: spacing-var.$space-md;
  margin-bottom: spacing-var.$space-md;

  h2, h4 {
    text-align: center;
  }
}

.login-button {
  margin-top: spacing-var.$space-lg;
}

.login-image {
  max-width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .login-container {
    padding: spacing-var.$space-xl;
  }
}